<div class="container vh-100 position-relative">
    <main>
        <img src="/svg/logo.svg"
             alt="Logo"
             class="d-block mb-4 mb-md-3 logo"
        />

        <div class="text-center">
            <a href="tel:14806737491" class="md-3 mb-md-2 d-inline-block text-decoration-none fw-bolder h4">480-673-7491</a>
        </div>

        <div class="text-center">
            <a
                    href="https://crm.pawfinity.com/fluffin-pawsome/?fbclid=IwAR3fo74ew8F8UhbXLYUrLIcYs7bNciIhshNyEzcL61zdy9THd2fIUE5ox9M"
                    class="h2 font-accent info-link text-uppercase text-decoration-none">
                Pricing & Scheduling
            </a>
        </div>
    </main>
</div>